.div{
    display: flex;
    flex-direction: column;
    width: 300px;
    min-height: 100px;
    background-color: black;
    color: white;
}
.img{
    width: 300px;
    height: 300px;
}
.main{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: fit-content;
    margin-bottom: 50px;
    box-shadow: 5px 5px 10px rgba(105, 105, 105, 0.582);
}
.p{
    width: 300px;
    margin-left: 5px;
}
.btn{
    background-color: white;
    color: black;
    height: 40px;
    margin-right: 5px;
}
.cost{
    display: flex;
    align-items: center;
}